<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties">
        <property name="" value=""/>
    </properties>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--下划线驼峰自动转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.tao.pojo.Teacher" alias="Teacher"/>
        <typeAlias type="com.tao.pojo.Student" alias="Student"/>
        <typeAlias type="com.tao.pojo.Blog" alias="Blog"/>
<!--        <package name=""/>-->
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="com/kuang/dao/userMapper.xml"/>-->
        <mapper class="com.tao.mapper.StudentMapper"/>
        <mapper class="com.tao.mapper.TeacherMapper"/>
        <mapper resource="com/tao/mapper/BlogMapper.xml"/>
    </mappers>


</configuration>